<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= owner.username %>'s Recipes</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Recipes by <%= owner.username %></h1>

    <% if (recipes.length > 0) { %>
      <ul>
        <% recipes.forEach(recipe => { %>
          <li>
            <a href="/recipes/<%= recipe._id %>"><%= recipe.name %></a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p><%= owner.username %> has not created any recipes yet.</p>
    <% } %>

    <a href="/community">Back to Community</a>
  </body>
</html>