<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Recipes</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %> <% if (flashMessage) { %>
    <div
      style="
        padding: 10px;
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
      "
    >
      <%= flashMessage %>
    </div>
    <% } %>
    <% if (user) { %>
      <div class="rec-ind-h1-btns">
      <h1 class="rec-ind">Recipes</h1>
      <div class="filter-buttons">
        <button onclick="window.location.href='/recipes?filter=mine'">My Recipes</button>
        <button onclick="window.location.href='/recipes?filter=others'">Other Users' Recipes</button>
        <button onclick="window.location.href='/recipes'">All Recipes</button>
      </div>
    </div>
    <% } %>
    
    
    <div class="index-grid">
      <% if (recipes.length > 0) { %>
      <div class="index-grid-item">
        <ul>
          <% recipes.forEach(recipe => { %>
          <li class="li-index-grid">
            <a href="/recipes/<%= recipe._id %>"><%= recipe.name %></a>
            <% if (user && recipe.owner && user._id.toString() === recipe.owner._id.toString()) { %>
              <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
              </form>
              <button onclick="window.location.href='/recipes/<%= recipe._id %>/edit'">
                Edit
              </button>
            <% } else { %>
              <p>View Only</p>
            <% } %>
          </li>
          <% }) %>
        </ul>
      <% } else { %>
        <p class="p-index-grid">You have not created any recipes yet.</p>
      <% } %>
      </div>
    </div>
  </body>
</html>
